.nav-sections {
    .compare-wrapper-mobile {
        border-top : 1px solid #d1d1d1;
        font-size  : 1.6rem;
        list-style : none;

        .action.compare {
            @include lib-icon-font(
                    $icon-compare-empty,
                $_icon-font-size        : 35px,
                $_icon-font-line-height : 22px
            );
            @include lib-icon-font(
                $_icon-font-content  : $icon-down,
                $_icon-font-size     : 42px,
                $_icon-font-position : after,
                $_icon-font-display  : block
            );
            position : relative;

            &:after {
                position : absolute;
                right    : 7px;
                top      : -8px;
            }

            &.active {
                @include lib-icon-font(
                    $_icon-font-content  : $icon-up,
                    $_icon-font-size     : 42px,
                    $_icon-font-position : after,
                    $_icon-font-display  : block
                );
            }

            .counter.qty {
                display : none;
            }
        }

        .block-compare {
            display       : none;
            list-style    : none;
            margin-bottom : 0;
            padding       : 0 20px;

            .product-item {
                position : relative;

                .product-item-name {
                    display: inline-block;

                    a {
                        padding-left: 0;
                    }
                }

                .action.delete {
                    display: inline-block;
                    padding: 13px 0;
                }
            }

            a.action.delete {
                border: none;
            }

            .empty {
                padding: 8px 20px;
            }
        }

        &.active {
            .block-compare {
                display : block;
            }
        }
    }
}
